// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Wrapper class
@mixin wrap {
	max-width: 1366px;
	width: 90%;
	margin: 0 auto;
}

// Placeholders
@mixin placeholder {
	&placeholder 					{@content}
	&:-webkit-input-placeholder 	{@content}
	&:-moz-placeholder           	{@content}
	&::-moz-placeholder          	{@content}
	&:-ms-input-placeholder      	{@content}
}