{% extends "page.twig" %}

{% block content %}

    <div class="wrapper">

        <section id="front-1"></section>

        <section id="front-2"></section>

        <section id="front-3"></section>

    </div>

{% endblock %}