$sans-serif: sans-serif;
$serif: serif;

$font-size-h1: 3.125rem;
$font-size-h1--r: 1.5625rem;

$font-size-h2: 2.5rem;
$font-size-h2--r: 1.875rem;

$font-size-h3: 1.125rem;

$font-size-p: 1rem;
$font-size-p--r: 0.9375rem;

$font-size-small: 0.875rem;

$light: 300;
$regular: 500;
$bold: 700;