.wrapper {
  width: 80%;
  max-width: 1366px;
  margin: 0 auto;
  &--small {
    width: 75%;
    max-width: 1080px;
  }
  &--xl {
    max-width: 1707px;
    width: 90%;
    margin: 0 auto;
  }
  @include media('<=550px') {
    width: 90%;
  }
  &.full-r {
    @include media('<=768px') {
      width: 100%;
    }
  }
}

.flex {
  display: flex;
  align-items: flex-start;
}

.sans {
  font-family: $sans-serif;
}

hr {
  border-top: 1px solid #d1d1d2;
}