a {
  color: $color_link;
  text-decoration: none;
  transition: all 500ms ease;
}

a:focus,
a:active {
  color: $color_link;
  
}

a:hover {
  color: $color_link-hover;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  outline: 0;
}

p a {
  border-bottom: 1px solid $color_text;
}