h1 {
  font-family: $serif-heading;
  font-size: $font-size-h1;
  letter-spacing: $point04;
  color: $color_text;
  margin: 1rem 0 2rem;
}

h2 {
  font-family: $serif-heading;
  font-size: $font-size-h2;
  letter-spacing: $point04;
  color: $color_text;
}

h3 {
  font-family: $serif-heading;
  font-size: $font-size-h3;
  letter-spacing: $point1;
  color: $color_text;
  text-transform: uppercase;
}

h4 {}

h5 {}

p {
  font-family: $serif-paragraph;
  font-size: $font-size-p;
  letter-spacing: $point04;
  font-weight: $regular;
  line-height: 1.625;
  margin: 1rem 0;
}

a {
  font-family: $sans-serif;
  font-weight: $regular;
}

article p {
  text-align: justify;
}

i,
.italic {
  font-style: italic;
}

b,
strong,
.bold {
  font-weight: 700;
}