.site-header {
  padding: 3.125rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .site-logo {
    width: 250px;
    margin: 2.5rem auto 0;
  }
  .shop-link {
    text-transform: uppercase;
  }
}